header {
  background: rgb(212, 235, 214);
  width: 100%;
  padding: .3em 0;
  color: #37474F;
}

.title {
  font-family: 'Gochi Hand', cursive;
  font-size: 3.4em;
  margin: auto;
}

.subtitle {
  font-family: 'Coming Soon', cursive;
  font-size: .9em;
  margin: auto;
}

#rainbow div {
  height: 200px;
}
#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
#img01 {
  width: 310px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -170px;
  animation: spin 2s infinte paused;
}

#img02 {
  width: 310px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -170px;
  animation: spin 2s infinte paused;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}